.hacks_holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.explore {
  color: black;
  width: 150px;
  display: flex;
  align-items: center;
  float: right;
}

.explore p {
  font-size: 18px;
}

.arrow {
  margin-left: 5px;
  width: 25px;
  height: 25px;
  transform: translateX(0px);
  transition: all 0.5s ease;
}

.explore:hover .arrow {
  transform: translateX(10px);
  transition: all 0.5s ease;
}

@media screen and (min-width: 800px) {
  .hacks_holder {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .hacks_holder {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
}
