.hackcard {
  display: grid;
  background-color: white;
  /* background: linear-gradient(#3370ff52, #ffbb3353); */
  margin-top: 30px;
  grid-template-areas: "topl topr" "mid mid" "botl botr";
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px #0000002c;
  border: 2px solid rgb(179, 178, 178);
}

.btn_cover {
  justify-self: end;
}

.hack_image {
  width: 100%;
  border-radius: 5px 0 5px 0;
}

.title {
  margin-left: 10px;
  grid-area: mid;
  font-weight: bold;
  font-size: 18px;
}

.user {
  margin-left: 10px;
  font-weight: bold;
  color: #858585;
}

.date {
  justify-self: end;
  margin-right: 10px;
  font-weight: bold;
  color: #858585;
}

@media screen and (max-width: 600px) {
  .user,
  .date {
    font-size: 16px;
  }
}
