body {
  margin: 50px 0 0 0;
  /* min-height: 100vh; */
  padding-left: clamp(1rem, 3vw, 3rem);
  padding-right: clamp(1rem, 3vw, 3rem);
  /* background: linear-gradient(#7da4fe52, #fcce7353); */
}

button {
  cursor: pointer;
}

.hero_section {
  padding: 20px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hack_form {
  position: relative;
  /* margin: 0 -20px; */
  border: 2px solid rgb(220, 213, 213);
  border-radius: 3px;
  padding: 10px;
}

.shrink_input {
  width: 50%;
}
.shrink_input2 {
  width: 80%;
}

.modal {
  background-color: rgba(76, 75, 75, 0.181);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.unauth_form {
  position: relative;
  margin: 0 20px;
  padding: 0 10px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.proceed_btn {
  position: absolute;
  font-size: 16px;
  right: 0;
  bottom: 0;
  background-color: rgb(67, 241, 64);
  width: 100px;
  height: 35px;
  border-radius: 5px 0 0 0;
  border: none;
}
.proceed_btn:hover {
  opacity: 0.8;
}

.unauth_text {
  font-size: 20px;
}

.user_form_gradient {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* z-index: -1;
  right: 0;
  top: 0; */
  /* background: linear-gradient(#33ffb152, #ff338153); */
  /* width: 100vw;
  height: 100vh; */
  height: 60vh;
}

@media screen and (min-width: 600px) {
  .unauth_text {
    font-size: 24px;
  }
  .unauth_form {
    width: 500px;
    height: 150px;
  }
}
