body {
  margin: 50px 0 0 0;
  padding-left: clamp(1rem, 3vw, 3rem);
  padding-right: clamp(1rem, 3vw, 3rem);
}

button {
  cursor: pointer;
}

.hero_section {
  padding: 20px;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hack_form {
  position: relative;
  border: 2px solid rgb(220, 213, 213);
  border-radius: 3px;
  padding: 10px;
}

.shrink_input {
  width: 50%;
}
.shrink_input2 {
  width: 80%;
}

.user_form_gradient {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  right: 0;
  top: 0;
  background: linear-gradient(#33ffb152, #ff338153);
  width: 100vw;
  height: 100vh;
}
