.hacks_section {
  /* width: 100%; */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.title {
  margin-bottom: 20px;
}
.hacks_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pageno {
  height: 30px;
  justify-self: center;
}

.search_result {
  position: relative;
  width: 100%;
  /* display: flex; */
}

.search_bar {
  font-size: 16px;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-bottom: 5px solid black;
}

.search_hover_line {
  height: 5px;
  width: 100%;
  position: absolute;
  background-color: rgb(255, 0, 89);
  bottom: 0;
  transform: rotateY(90deg);
  transition: all 0.8s ease;
}

.search_bar:focus ~ .search_hover_line {
  transform: rotateY(0deg);
}

.query_result {
  list-style-type: none;
  position: absolute;
  margin-top: 0px;
  width: 100%;
  /* left: -40px; */
}

.result_item {
  /* background-color: rgb(153, 208, 250); */
  background-color: rgb(131, 215, 218);
  user-select: none;
  cursor: pointer;
  margin-left: -40px;
  /* padding-top: 10px; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid black; */
}
.result_item:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.result_item strong {
  margin-left: 20px;
}

.reset_search {
  position: absolute;
  right: 0;
  top: -5px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 80px;
  height: 50px;
  border-radius: 3px;
  background-color: black;
  border: 2px solid black;
  border-bottom: 5px solid black;
  color: white;
  transition: all 0.5s ease;
}
.reset_search:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

@media screen and (min-width: 700px) {
  /* .search_bar,
  .query_result {
    width: 50%;
    } */
  .search_result {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .hacks_holder {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
